<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>TinDog</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/styles.css">
  </head>
  <body>
    <section id="title">

      <!-- The navigation bar -->
      <nav class="navbar navbar-dark navbar-expand-lg bg-dark">
        <a href="#" class="navbar-brand">tindog</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#topnav" aria-controls="topnav" aria-expanded="false">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="topnav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a href="#" class="nav-link">Contact</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Pricing</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">About</a>
            </li>
          </ul>
        </div>
      </nav>

      <div>
        <h1>Meet new and interesting dogs today.</h1>
        <button type="button">Download</button>
        <button type="button">Download</button>
      </div>
      <div>
        <!-- <img src="" alt="iphone-mockup"> -->
      </div>

    </section>
  </body>
</html>
